/* NavBar.css */
.Nav {
    background: #f5f8fa;
    height: 85px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 12;
    padding-bottom: 10px;
  }
  
  .NavLink {
    color: #164863;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }
  
  .NavLink.active {
    color: #000000;
  }
  
  .Bars {
    display: none;
    color: #808080;
  }
  
  @media screen and (max-width: 768px) {
    .Bars {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .NavMenu {
      display: none;
    }
  }
  
  .NavMenu {
    display: flex;
    align-items: center;
    margin-right: -24px;
  }
  
  .NavBtn {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .NavBtnLink {
    border-radius: 4px;
    background: #427d9d;
    padding: 10px 22px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;
  }
  
  .NavBtnLink:hover {
    background: #fff;
    color: #808080;
  }
  