.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signInButton {
  color: #ffffff; /* Replace with your desired text color code or name */

  /* Add any other styles you want */
  /* For example, you might want to add padding, border, etc. */
  padding: 10px;
  border-color: blue;
  border-radius: 10px;
}

.signUpButton {
  color: #ffffff; /* Replace with your desired text color code or name */

  /* Add any other styles you want */
  /* For example, you might want to add padding, border, etc. */
  padding: 10px;
  border-color: blue;
  border-radius: 10px;
}