
.newYearCard-stack-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newYearCard-link {
  width: 100%;
  margin-bottom: 16px;
  text-decoration: none;
  color: inherit;
}

.newYearCard-link:hover {
  text-decoration: underline;
}

.centeredButtonContainer {
  text-align: center;
  margin-top: 10px; /* Adjust the margin-top as needed */
}

.seeAllBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #475f89;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  