
.newYearCard-stack-container {
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container */
  display: flex;
  flex-direction: column;
}

.newYearCard-link {
  width: 100%;
  margin-bottom: 16px;
  text-decoration: none;
  color: inherit;
}

.newYearCard-link:hover {
  text-decoration: underline;
}

  